<%- model_class = Workout -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @workout.name %></dd>
</dl>

<ul class="questions">
<% @workout.exercises.each do |exercise| %>
  <li>
    <%= exercise.name %>
    <ul class="lifts">
      <% exercise.lifts.each do |lift| %>
        <li><stong>Sets: </strong></li>
        <li><stong>Reps: </strong><%= lift.reps %></li>
        <li><stong>Weight: </strong><%= lift.weight %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              workouts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_workout_path(@workout), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              workout_path(@workout),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>